.mailIcon {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: var(--z-mail-icon);
  width: 52px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-bg);
  border-radius: 2px;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.mailIcon:hover {
  opacity: 0.7;
}

@media (max-width: 639px) {
  .mailIcon {
    width: 40px;
    height: 32px;
    top: 5px;
    right: 5px;
  }
}
