.wrap {
  position: relative;
  overflow: hidden;
  will-change: opacity, transform, filter;
}

.image {
  width: 100%;
  height: auto;
  display: block;
  will-change: transform;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  will-change: transform;
  /* smooth fade-out when pixelation resolves */
  transition: opacity 150ms ease-out;
}
