.wrap {
  position: relative;
  overflow: hidden;
}

.image {
  width: 100%;
  height: auto;
  display: block;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
